{% extends 'base.html.twig' %}

{% block title %}MainPage{% endblock %}


{% block body %}

    {% include "includes/header.html.twig" %}
    {# Ici, rien de spécial, on regarde si l'utilisateur est connecté et on affiche le nom d'utilisateur avec lequel il estconnecté #}
    {% if user is defined and user %}

        <div class="body">
            You are logged in as {{ user.username }}
        </div>
    {% endif %}

    {# Petit message mignon <3 #}
    <div class="body"><p><h1><b>Welcome</b></h1> on my website where everyone can buy PC's items (if you've got an account) so enjoy and try to not paid to much with your <i>pastèques</i></p></div>

{% endblock %}
